/.idea
*.ipynb
*.pyc
/__pycache__
*.xlsx
#data/*
.DS_Store
#*.json
/cache
*.mp4
!video_outputs/delft.mp4
*.csv
/outputs
/fig
/rl/vis
/.specstory
/.cursorindexingignore
.vscode
Tables.xlsx
# wandb
/rl/wandb
/rl/checkpoints